:root {
  --section-rotate: 9vw;
}

::-moz-selection {
  background-color: #55c57a;
  color: #fff;
}

/* ::selection {
  background-color: #ffb340;
  color: #fff;
} */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  /* font-size: 62.5%; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #777;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main {
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

main {
  flex: 1 0 auto;
}

nav .nav-wrapper {
  background-color: #424242;
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 25rem;
}

.story-text {
  height: 120px;
}

.dash-status {
  text-transform: capitalize;
}

#delete-form {
  display: inline;
}

.login-form,
.register-form,
.story-form {
  margin: 0 auto;
  max-width: 55rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  padding: 5rem 7rem;
  border-radius: 5px;
}

.form__input {
  display: block;
  font-family: inherit;
  font-size: 1.5rem;
  color: inherit;
  padding: 1.25rem 1.75rem;
  border: none;
  width: 100%;
  background-color: #fff;
  background-color: #f2f2f2;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Pseudo element (a visible thing that isn't really in the DOM).
        Also needs -ms- */
}
.form__input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #bbb;
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__photo-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.6rem;
}

.form__user-photo {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-right: 2rem;
}

.form__upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__upload:focus + label {
  outline: 3px solid #55c57a;
  outline-offset: 3px;
}

.form__upload + label {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.form__upload + label:hover {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f7f7f7),
    to(#26a69a)
  );
  background-image: linear-gradient(to right, #f7f7f7, #26a69a);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 400;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
}

.ma-bt-md {
  margin-bottom: 3rem !important;
}

.ma-bt-lg {
  margin-bottom: 3.5rem !important;
}

.loginButton:disabled,
.registerButton:disabled {
  cursor: not-allowed;
  background-color: rgb(252, 173, 173);
}

.card-margin {
  margin-top: 3rem;
}

.alert {
  text-align: left;
  font-size: small;
}

.alert-success {
  color: #26a69a;
}

.alert-danger {
  color: #f44336;
}

.btn-readMore {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffab40;
  transition: ease-in-out 1s;
}

.btn-readMore:focus {
  background-color: transparent;
}

.loader {
  --d: 22px;
  width: 4px;
  height: 4px;
  margin: 25% auto;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: calc(1 * var(--d)) calc(0 * var(--d)) 0 0,
    calc(0.707 * var(--d)) calc(0.707 * var(--d)) 0 1px,
    calc(0 * var(--d)) calc(1 * var(--d)) 0 2px,
    calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
    calc(-1 * var(--d)) calc(0 * var(--d)) 0 4px,
    calc(-0.707 * var(--d)) calc(-0.707 * var(--d)) 0 5px,
    calc(0 * var(--d)) calc(-1 * var(--d)) 0 6px;
  animation: s7 1s infinite steps(8);
}

@keyframes s7 {
  100% {
    transform: rotate(1turn);
  }
}

.user-password,
.deactivate {
  margin-top: 5rem;
}

.text-uppercase {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffb340),
    to(#f44336)
  );
  background-image: linear-gradient(to right, #ffb340, #f44336);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
}

.not-found {
  text-align: center;
  border: 3px solid #ffab40;
  padding: 3rem;
  margin-top: 10rem;
  word-wrap: break-word;
  text-transform: capitalize;
}

.not-found h1 {
  font-size: 3.5rem;
  line-height: 110%;
  font-weight: 400;
  margin: 0;
}

.not-found h2 {
  font-size: 2.5rem;
}

.not-found h3 {
  font-size: 2rem;
}

span.text-danger {
  color: #f44336;
  text-transform: lowercase;
}

.thumbnail img {
  border: 2px solid #333;
}

.card {
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
}

.redirect {
  width: 100vw;
  height: 50vh;
}

.redirect h5 {
  text-align: center;
  font-size: 2.5rem;
}

.related-stories {
  margin-top: 3rem;
}

.list {
  width: 60%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  text-align: left;
}

.related-link:link,
.related-link:visited {
  text-decoration: none;
  transition: all 0.2s ease;
}

.related-link:hover {
  text-decoration: underline;
}
